<!--header css-->

.header {
            padding: 8px 16px;
            background: white;
            color: #000000;
            transition: 0.2s;
        }

        /* Page content */
        .content {
            padding: 16px;
        }

        /* The sticky class is added to the header with JS when it reaches its scroll position */
        .sticky {
            position: fixed;
            top: 0;
            width: 100%
        }

        /* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
        .sticky+.content {
            padding-top: 102px;
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: rgb(255, 255, 255);
        }

        li {
            float: left;
        }

        li a,
        .dropbtn {
            display: inline-block;
            color: #2B323A;
            text-align: center;
            padding: 14px 12px;
            text-decoration: none;
        }

        /* li a:hover,
        .dropdown:hover .dropbtn {
            background-color: rgb(73, 64, 64);
        } */

        li.dropdown {
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
        }

        .dropdown-content a {
            color: black;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
            text-align: left;
        }

        .dropdown-content a:hover {
            background-color: #f1f1f1;
        }

        .dropdown:hover .dropdown-content {
            display: block;
        }




<!--SEARCH BAR HEADER-->
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        html,
        body {
            width: 100%;
            height: 100%;
        }



        .container {
            position: absolute;
            margin: auto;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 300px;
            height: 100px;
        }

        .container .search {
            position: absolute;
            margin: auto;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 50px;
            height: 50px;
            background: rgb(44, 44, 44);
            border-radius: 50%;
            transition: all 1s;
            z-index: 4;
            box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
        }

        .container .search:hover {
            cursor: pointer;
        }

        .container .search::before {
            content: "";
            position: absolute;
            margin: auto;
            top: 22px;
            right: 0;
            bottom: 0;
            left: 22px;
            width: 12px;
            height: 2px;
            background: white;
            transform: rotate(45deg);
            transition: all .5s;
        }

        .container .search::after {
            content: "";
            position: absolute;
            margin: auto;
            top: -5px;
            right: 0;
            bottom: 0;
            left: -5px;
            width: 25px;
            height: 25px;
            border-radius: 50%;
            border: 2px solid white;
            transition: all .5s;
        }

        .container input {
            font-family: 'Inconsolata', monospace;
            position: absolute;
            margin: auto;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 50px;
            height: 40px;
            outline: none;
            border: none;
            background: rgb(37, 36, 36);
            color: white;
            text-shadow: 0 0 10px rgb(43, 41, 41);
            padding: 0 80px 0 20px;
            border-radius: 30px;
            box-shadow: 0 0 25px 0 rgb(29, 28, 28), 0 20px 25px 0 rgba(0, 0, 0, 0.2);
            transition: all 1s;
            opacity: 0;
            z-index: 5;
            font-weight: bolder;
            letter-spacing: 0.1em;
        }

        .container input:hover {
            cursor: pointer;
        }

        .container input:focus {
            width: 300px;
            opacity: 1;
            cursor: text;
        }

        .container input:focus~.search {
            right: -250px;
            background: #151515;
            z-index: 6;
        }

        .container input:focus~.search::before {
            top: 0;
            left: 0;
            width: 25px;
        }

        .container input:focus~.search::after {
            top: 0;
            left: 0;
            width: 25px;
            height: 2px;
            border: none;
            background: white;
            border-radius: 0%;
            transform: rotate(-45deg);
        }

        .container input::placeholder {
            color: white;
            opacity: 0.5;
            font-weight: bolder;
        }


<!--HEADER DESKTOP-->

<!--HEADER MOBILE-->
 /* Style the header */
        .header {
            padding: 10px 5px 0px 2px;
            background: #555;
            color: #f1f1f1;
        }

        /* Page content */
        .content {
            padding: 16px;
        }

        /* The sticky class is added to the header with JS when it reaches its scroll position */
        .sticky {
            position: fixed;
            top: 10px;
            width: 97%
        }

        /* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
        .sticky+.content {
            padding-top: 102px;
        }

        .navbar {
            padding: 3px
        }

<!--HEADER MOBILE END-->

<!--FOOTER MOBILE-->
 .req {
            border: 1px solid #00ABC9;

        }

        .bottom_nav {
            color: #7a7a7a;
            margin-right: 27px;
            margin-left: 27px;
            font-weight: 700;


        }

        .tagcloud {
            color: #ffffff;
            border: 1px solid #4b5056;
            border-radius: 20px;
            letter-spacing: 0.5px;
            font-weight: 600;
            padding: 0px 10px;
            margin: 0px 6px 0px 0px;
            opacity: 0.7;
        }

<!--FOOTER MOBILE END-->

<!--FOOTER DESKTOP END-->
.req {
      border: 1px solid #00ABC9;

    }

    .cloud {

      background-color: white;

    }

    .bottom_nav {
      color: #7a7a7a;
      margin-right: 35px;
      font-weight: 700;


    }

    .tagcloud {
      color: #ffffff;
      border: 1px solid #4b5056;
      border-radius: 20px;
      letter-spacing: 0.5px;
      font-weight: 600;
      padding: 2px 18px;
      margin: 0px 6px 0px 0px;
      opacity: 0.7;
    }

<!--FOOTER DESKTOP END-->