<body>
  <div class="container-fluid" style="height: 350px;  background-color: #20252b;">
    <div class="row">
      
      <div class="col-3" style="height: 350px; text-align: center;">
        <div>
          <img class="my-4" style="text-align: center;" src="images/finstreet_resized.png" alt="">
        </div>
        <p style="margin-top: 2%; color: #b1b1b1; " class="mb-5">We have a wide breadth of experience over 30 years
          providing financial services.</p>
        <i style="color: #b1b1b1;"><img width="20px" class="mr-2" src="icon/iconfinder_contact_126567.svg" alt="">
          support@finance.com </i>
        <hr style="margin: 4%;">
        <i style="color: #b1b1b1;"><img width="20px" class="mr-2" src="icon/iconfinder_call_322424.svg" alt="">
          support@finance.com </i>
        <hr style="margin: 4%;">
        <i style="color: #b1b1b1"><img width="20px" class="mr-2" src="icon/iconfinder_contact_126567.svg" alt="">
          support@finance.com </i>
      </div>
      <div class="col-3" style="height: 350px; padding: 0px;">
        <h6 class="mt-5" style="color:#ffffff; text-align: center; margin-bottom: 5px; letter-spacing: 2px; ">RECENT
          TWEETS
        </h6>
        <hr class="req" style="margin-top: 0%; " width="130px" ;>


        <div class="row" style="width: 100%; height: 80px;  margin-top: 55px;">
          <div class="col-4" style="  width: 20%; float: left;">
            <img src="images/tweet.jpg" alt="">
          </div>
          <div class="col-8" style="width:70%; float: left; padding: 0%;">
            <a style="display: inline; color: #7a7a7a;  " href="#">Life is a story, make yours the best
              seller</a><br><span style="color: #7a7a7a;" class="entry-date"><small>15 June 2018</small></span>
          </div>
        </div>

        <div class="row" style="width: 100%; margin-top: 30px; height: 80px;">
          <div class="col-4" style="  width: 20%; float: left;">
            <img src="images/tweet.jpg" alt="">
          </div>
          <div class="col-8" style="width:70%; float: left; padding: 0%;">
            <a style="display: inline; color: #7a7a7a;  " href="#">Life is a story, make yours the best
              seller</a><br><span class="entry-date" style="color: #7a7a7a;">15 June 2018</span>
          </div>
        </div>
      </div>




      <!-- <div class="col-2" style="height: 350px;">

      </div> -->
      <div class="col-3" style="height: 350px; text-align: center;">
        <h6 class="mt-5" style="color:#ffffff; text-align: center; margin-bottom: 5px; letter-spacing: 2px; ">POPULAR
          TAGS </h6>
        <hr class="req" style="margin-top: 0%; " width="120px" ;>

        <div>
          <a class="tagcloud" href="#">Estate</a>
          <a class="tagcloud" href="#">Education</a>
          <a class="tagcloud" href="#">Taxes</a>
          <a class="tagcloud" href="#">Loan</a>
          <a class="tagcloud" href="#">Crow</a>
          <a class="tagcloud" href="#">Insurance</a>
          <a class="tagcloud" href="#">Income</a>
          <a class="tagcloud" href="#">Plan</a>
          <a class="tagcloud" href="#">Consulting</a>
        </div>

      </div>

      <div class="col-3" style="height: 350px;">
        <h6 class="mt-5" style="color:#ffffff; text-align: center; margin-bottom: 5px; letter-spacing: 2px; ">
          PHOTOSTREAM </h6>
        <hr class="req" style="margin-top: 0%; " width="120px" ;>
        <div class="container-fluid">
          <div class="row">
            <div class="col-4" style="padding: 0%;">
              <a href="#" target="_blank">
                <div class="item">
                  <img width="100%" src="images/tweet.jpg" alt="Image">
                </div>
              </a>

            </div>
            <div class="col-4" style="padding: 0%;">
              <a href="#" target="_blank">
                <div class="item">
                  <img width="100%" src="images/tweet.jpg" alt="Image">
                </div>
              </a>
            </div>
            <div class="col-4" style="padding: 0%;">
              <a href="#" target="_blank">
                <div class="item">
                  <img width="100%" src="images/tweet.jpg" alt="Image">
                </div>
              </a>
            </div>

          </div>
          <div class="row" style="margin-top: 0px; ">
            <div class="col-4" style="padding: 0%;">
              <a href="#" target="_blank">
                <div class="item">
                  <img width="100%" src="images/tweet.jpg" alt="Image">
                </div>
              </a>

            </div>
            <div class="col-4" style="padding: 0%;">
              <a href="#" target="_blank">
                <div class="item">
                  <img width="100%" src="images/tweet.jpg" alt="Image">
                </div>
              </a>
            </div>
            <div class="col-4" style="padding: 0%;">
              <a href="#" target="_blank">
                <div class="item">
                  <img width="100%" src="images/tweet.jpg" alt="Image">
                </div>
              </a>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="background-color: #1C2025; height: 52px;" class="container-fluid">
    <div class="row">
      <div class="col-1">

      </div>
      <div style="text-align: center; height: 52px;" class="col-4">
        <p style="margin-top: 16px;"> <a style="color: white; " href="#">COPYRIGHT FINANCE</a>
          <i style="color: #7a7a7a;font-size: 15px; ">. DESIGN BY @DOANDU WITH LOVE.</i></p>

      </div>
      <div style=" height: 52px;" class="col-2">

      </div>
      <div style=" height: 52px;" class="col-5">
        <div style="margin-top: 12px;">
          <a class="bottom_nav" href="#">Home</a>
          <a class="bottom_nav" href="#">About Me</a>
          <a class="bottom_nav" href="#">Blogs</a>
          <a class="bottom_nav" href="#">Events</a>
          <a class="bottom_nav" href="#">Courses</a>
        </div>


      </div>
      
    </div>
  </div>

  
</body>

