
<body>
    <div class="d-lg-none">
        <div class="container-fluid" style=" height: 1200px; background-color: #20252b;">
            <div class="row" style="height: 275px;  margin-top: 0px; padding: 0px 15px; display: grid; ">\
                <img width="100px" height="40px" style="margin:4% 33%; margin-top: 12px;"
                    src="images/finstreet_resized.png" alt="">
                <p style="margin-top: 2%; color: #b1b1b1; font-size: 14px;  " class="mb-3 mx-1">We have a wide breadth
                    of experience over
                    30 years providing financial services.</p>
                <div style="color: #b1b1b1;  font-size: 14px;"><img width="20px" class="mr-2"
                        src="icon/iconfinder_contact_126567.svg" alt="">
                    support@finance.com</div>
                <hr id="intro">

                <div style="color: #b1b1b1;  font-size: 14px;"><img width="20px" class="mr-2"
                        src="icon/iconfinder_call_322424.svg" alt="">
                    support@finance.com</div>
                <hr id="intro">

                <span style="color: #b1b1b1;  font-size: 14px;"><img width="20px" class="mr-2"
                        src="icon/iconfinder_contact_126567.svg" alt="">
                    support@finance.com</span>
            </div>

            <div class="row" style="height: 335px; padding: 0px 15px;  ">
                <h5 class="mt-5"
                    style="color:#ffffff;  margin-bottom: 5px; margin-left: 17px; text-align: center; letter-spacing: 1px; font-size: 14px; ">
                    RECENT
                    TWEETS
                    <hr class="req" style="margin-top: 4%; " width="100px" ;>
                    </h6>



                    <div class="row" style="width: 100%; height: 90px;  margin-top: 10px;">
                        <div class="col-4" style="  width: 20%; float: left; padding-left: 20px;">
                            <img src="images/tweet.jpg" alt="">
                        </div>
                        <div class="col-8"
                            style="width:70%; float: left; padding: 0%; font-weight: 500; font-size: 14px;">
                            <a style="display: inline; color: #ffffff; font-family: monstserrat; " href="#">Life is a
                                story, make yours the best
                                seller</a><br><span style="color: #ffffff; " class="entry-date"><small>15 June
                                    2018</small></span>
                        </div>
                    </div>

                    <div class="row" style="width: 100%;  height: 90px;">
                        <div class="col-4" style="  width: 20%; float: left; padding-left: 20px;">
                            <img src="images/tweet.jpg" alt="">
                        </div>
                        <div class="col-8" style="width:70%; float: left; padding: 0%;font-weight: 500;">
                            <a style="display: inline; color: #ffffff; font-size: 14px; font-family: monstserrat; "
                                href="#">Life is a story, make yours the best
                                seller</a><br><span class="entry-date" style="color: #ffffff; font-size: 12px; ">15 June
                                2018</span>
                        </div>
                    </div>

            </div>
            <div class="row" style="height: 218px; padding: 0px 15px; ">
                <h5 class="mt-4"
                    style="color:#ffffff; text-align: center; margin-left: 17px; margin-bottom: 5px; letter-spacing: 1px; font-size: 14px; ">
                    POPULAR
                    TAGS
                    <hr class="req" style="margin-top: 4%; " width="100px" ;>
                    </h6>
                    <hr>



                    <div>
                        <a class="tagcloud" href="#">Estate</a>
                        <a class="tagcloud" href="#">Education</a>
                        <a class="tagcloud" href="#">Taxes</a>
                        <a class="tagcloud" href="#">Loan</a>
                        <a class="tagcloud" href="#">Crow</a>
                        <a class="tagcloud" href="#">Insurance</a>
                        <a class="tagcloud" href="#">Income</a>
                        <a class="tagcloud" href="#">Plan</a>
                        <a class="tagcloud" href="#">Consulting</a>
                    </div>

            </div>
            <div class="row" style="height: 313px; padding: 0px 15px;">
                <h5 class="mt-4 mb-2"
                    style="color:#ffffff; text-align: center; margin-bottom: 2px; margin-left: 17px; letter-spacing: 1px;  font-size: 14px; ">
                    PHOTOSTREAM
                    <hr class="req" style="margin-top: 4%; " width="100px" ;>
                    </h6>

                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-4" style="padding: 0%;">
                                <a href="#" target="_blank">
                                    <div class="item">
                                        <img width="98%" src="images/tweet.jpg" alt="Image">
                                    </div>
                                </a>

                            </div>
                            <div class="col-4" style="padding: 0%;">
                                <a href="#" target="_blank">
                                    <div class="item">
                                        <img width="98%" src="images/tweet.jpg" alt="Image">
                                    </div>
                                </a>
                            </div>
                            <div class="col-4" style="padding: 0%;">
                                <a href="#" target="_blank">
                                    <div class="item">
                                        <img width="98%" src="images/tweet.jpg" alt="Image">
                                    </div>
                                </a>
                            </div>

                        </div>
                        <div class="row" style="margin-top: 0px; ">
                            <div class="col-4" style="padding: 0%;">
                                <a href="#" target="_blank">
                                    <div class="item">
                                        <img width="98%" src="images/tweet.jpg" alt="Image">
                                    </div>
                                </a>

                            </div>
                            <div class="col-4" style="padding: 0%;">
                                <a href="#" target="_blank">
                                    <div class="item">
                                        <img width="98%" src="images/tweet.jpg" alt="Image">
                                    </div>
                                </a>
                            </div>
                            <div class="col-4" style="padding: 0%;">
                                <a href="#" target="_blank">
                                    <div class="item">
                                        <img width="98%" src="images/tweet.jpg" alt="Image">
                                    </div>
                                </a>
                            </div>

                        </div>
                    </div>

            </div>
        </div>

        <div style="background-color: #1C2025; height: 130px; text-align: center;" class="container-fluid">
            <div class="row">

                <div style="text-align: center; height: 52px; ">
                    <p style="margin-top: 10px;"> <a style="color: white;  margin-left: 5px; font-size: 12px;"
                            class="mx-3" href="#">&#169;COPYRIGHT FINANCE</a>
                        <i style="color: #7a7a7a;font-size: 12px; ">. DESIGN BY @DOANDU WITH LOVE.</i></p>

                </div>

            </div>
            <div style="margin-top: 0px; display: list-item;" class="row" >
                <a class="bottom_nav" style="font-size: 14px;" href="#">Home</a>
                <div class="vl"></div>
                <a class="bottom_nav" style="font-size: 14px;" href="#">About Me</a>
                <div class="vl"></div>
                <a class="bottom_nav" style="font-size: 14px;" href="#">Blogs</a>
               
                <a class="bottom_nav" style="font-size: 14px;" href="#">Events</a>
                <div class="vl"></div>
                <a class="bottom_nav" style="font-size: 14px;" href="#">Courses</a>
            </div>


        </div>
    </div>





   
</body>

