<body>
    <div class="container-fluid" style="width: 100%; height: 37px; background-color: #252B32;">
        <div class="row">
            <div class="col-1" style="height: 37px;font-size:70%;  color: white; padding: 0%;">

            </div>
            <div class="col-3" style="height: 37px;font-size:70%; color: white;padding: 0%; text-align: center;">
                <p style="margin-bottom: 0%;font-weight: 700;">Next57 Coworking, Plot No. 57 , Industrial Area Phase
                </p>
                <p style="font-weight: 700;"> Chandigarh. Pin code 160002</p>
            </div>
            <div class="col-2" style="height: 37px; font-size:70%; color: white;padding: 0%;">

            </div>
            <div class="col-2" style="height: 37px;font-size:70%; color: white;padding: 0%;">

            </div>

            <div class="col-2" style="height: 37px;font-size:70%; color: white;padding: 0%;">
                <p style="float: right; font-size: 130%;  margin-top: 8px;">Follow Us:</p>

            </div>
            <div class="col-2" style="height: 37px;font-size:70%; color: white;padding: 0%;">
                <img style="margin-left: 6%; width: 20px;" class="my-2" src="icon/iconfinder_whatsapp_115679.svg"
                    alt="...">
                <img style="margin-left: 4%; width: 20px; " class="my-2" src="icon/iconfinder_38-instagram_1161953.svg"
                    alt="...">
                <img style="margin-left: 4%; width: 20px; " class="my-2" src="icon/iconfinder_03-twitter_104501.svg"
                    alt="">
                <img style="margin-left: 4%; width: 10px; " class="my-2" src="icon/iconfinder_06-facebook_104498.svg"
                    alt="...">

            </div>
        </div>



    </div>
    <div class="header container-fluid" id="myHeader">
        <div class="row">

            <div class="col-2">
                <img src="images/finstreet_resized.png" alt="">
            </div>
            <div class="col-1">

            </div>
            <div class="col-5">
                <ul>
                    <li><a href="#home">Home</a></li>
                    <li><a href="#news">About Me</a></li>
                    <li><a href="#news">Events</a></li>
                    <li><a href="#news">Blogs</a></li>
                    <li class="dropdown">
                        <a href="javascript:void(0)" class="dropbtn">Contact Us</a>
                        <div class="dropdown-content">
                            <a href="#">Link 1</a>
                            <a href="#">Link 2</a>
                            <a href="#">Link 3</a>
                        </div>
                    </li>
                </ul>



            </div>
            <!-- search bar-->
            <div class="col-4" style="float: right;">
                <div class="container">
                    <input type="text" placeholder="Search...">
                    <div class="search"></div>
                </div>
            </div>


        </div>

    </div>
    


<script>
    window.onscroll = function () { myFunction() };

    // Get the header
    var header = document.getElementById("myHeader");

    // Get the offset position of the navbar
    var sticky = header.offsetTop;

    // Add the sticky class to the header when you reach its scroll position. Remove "sticky" when you leave the scroll position
    function myFunction() {
        if (window.pageYOffset > sticky) {
            header.classList.add("sticky");
        } else {
            header.classList.remove("sticky");
        }
    }

</script>
</body>

