<body>
    <div class="d-lg-none">
        <div class="top-container" style="background-color: #252b32; height: 36px; text-align: center; ">
            <div class="row">
                <div class="col-2"></div>
                <div class="col-4" style="color: white; padding-top: 6px;">
                    Follow us:
                </div>
                <div class="col-4" style="padding-top: 6px;">
                    <span class="icons">
                        <a href="#" title="Facebook" class="">
                            <img style="width: 16px; margin-right: 5px;" src="icon/iconfinder_38-instagram_1161953.svg"
                                alt="">
                        </a>
                        <a href="#" title="Twitter" class="">
                            <img style="width: 16px; margin-right: 5px;" src="icon/iconfinder_03-twitter_104501.svg"
                                alt="">
                        </a>
                        <a href="#" title="Linkedin" class="">
                            <img style="width: 16px; margin-right: 5px;" src="icon/iconfinder_whatsapp_115679.svg"
                                alt="">
                        </a>
                        <a href="#" title="Instagram" class="">
                            <img style="width: 16px; margin-right: 5px;" src="icon/iconfinder_call_322424.svg" alt="">
                        </a>
                    </span>
                </div>
                <div class="col-2"></div>
            </div>
        </div>

        <div style="height: 57px; background-color: white;" class="header " id="myHeader">
            <nav class="navbar  navbar-light bg-light">
                <img width="100px" src="images/finstreet_resized.png" alt="">

                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active"
                            style="background-color: #313131; color: white; text-align: center;">
                            <a style="color: #b1b1b1;" class="nav-link" href="#">Home &#8594; <span
                                    class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item" style="background-color: #313131; color: white; text-align: center;">
                            <a style="color: #b1b1b1;" class="nav-link" href="#">About Me &#8594;</a>
                        </li>
                        <li class="nav-item" style="background-color: #313131; color: white; text-align: center;">
                            <a style="color: #b1b1b1;" class="nav-link" href="#">Events &#8594;</a>
                        </li>
                        <li class="nav-item" style="background-color: #313131; color: white; text-align: center;">
                            <a style="color: #b1b1b1;" class="nav-link" href="#">Blogs &#8594;</a>
                        </li>
                        <li class="nav-item" style="background-color: #313131; color: white; text-align: center;">
                            <a style="color: #b1b1b1;" class="nav-link" href="#">Contact Us &#8594;</a>
                        </li>


                    </ul>

                </div>
            </nav>
        </div>

    </div>
    <script>
        window.onscroll = function () { myFunction() };

        var header = document.getElementById("myHeader");
        var sticky = header.offsetTop;

        function myFunction() {
            if (window.pageYOffset > sticky) {
                header.classList.add("sticky");
            } else {
                header.classList.remove("sticky");
            }
        }
    </script>
</body>